[submodule "nvim"]
	path = nvim
	url = https://github.com/MoLiYue/my-lazyvim.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/MoLiYue/kitty.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/MoLiYue/mytmux.git
[submodule "zshrc"]
	path = zshrc
	url = https://github.com/MoLiYue/my-zshrc.git
