@import url("colors.css");
* {
    /* reference the color by using @color-name */
    /* color: @text; */
    /* background-color: @base; */

    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Comic Sans MS, FiraCode Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: "JetBrains Mono", "Symbols Nerd Font", FontAwesome, sans-serif;
    font-size: 13px;
    border:        none;
    border-radius: 15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

label {
    font-family: "JetBrains Mono", "Symbols Nerd Font", FontAwesome, sans-serif;
}

window#waybar {
    color: @text;
    background-color: shade(@base, 0.9);
    border: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty,
window#waybar.solo,
window#waybar.termite {
    background-color: shade(@base, 0.9);
    border: none;
}

/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
    border: none;
    border-radius: 15px;
    box-shadow: none;
    background-color: transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: none;
}

#taskbar {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

#taskbar button {
    margin: 5px 3px 6px;
    padding: 0 5px;
    background-color: @overlay0;
    border-radius: 15px;
}

#taskbar button.active {
    background-color: @overlay2;
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*     background-color: @yellow; */
/* } */

#workspaces button {
    padding: 0 5px;
    background-color: @overlay0;
    color: @text;
    margin: 4px 3px;
    border-radius: 15px;
    border: none;
    /* color: @textcolor3; */
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: @overlay2;
}

#workspaces button.active {
    color: @text;
    background: @overlay2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px @base; */
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    /* background-color: #64727D; */
    box-shadow: inset 0 -3px @base;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#memory,#custom-disk,#cpu,#custom-gpu {
    margin:0px;
    padding: 0 6px;
    color:@text;
}

#cpu,
#memory,
#custom-gpu {
    margin: 5px 1px 6px;
    border-radius: 15px;
    color: @base;
}

#custom-disk {
    background-color: transparent;
    border-radius: 0;
    color: @peach;
}

#cpu,
#memory {
    background-color: @maroon;
}

#cpu {
    margin-right: 0;
    padding-right: 4px;
    border-radius: 15px 0 0 15px;
}

#memory {
    margin-left: 0;
    padding-left: 4px;
    border-radius: 0 15px 15px 0;
}

#custom-gpu {
    background-color: @mauve;
}

/* Common config */

#battery,
#clock,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#workspaces,
#window,
#mpd {
    margin: 5px 1px 6px;
    border-radius: 15px;
    color: @text;
}

/* Special for every module */
#battery,
#clock,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#workspaces,
#window,
#mpd {
    padding: 0 10px;
}
#window {
    background-color: @surface0;
    font-weight: bold;
}
#workspaces {
    padding: 0 1px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-style: normal;
    color: @text;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @lavender ;
    color: @base;
}

#battery {
    background-color: @base;
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @base;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @base;
}

#power-profiles-daemon.balanced {
    background-color: @flamingo;
    color: @base;
}

#power-profiles-daemon.power-saver {
    background-color: @teal;
    color: @base;
}

label:focus {
    background-color: @base;
}

#backlight {
    background-color: @sky;
}

#network {
    background-color: @blue;
    color: @base;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @green;
    color: @base;
}

#pulseaudio.muted {
    background-color: @red;
    color: @base;
}

#wireplumber {
    background-color: @rosewater;
    color: @base;
}

#wireplumber.muted {
    background-color: @red;
}

#custom-media {
    background-color: @green;
    color: @base;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
}

#custom-media.custom-vlc {
    background-color: @peach;
}

#temperature {
    background-color: @yellow;
    color: @base;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @rosewater;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */
/**/
/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

#mpd {
    background-color: @sapphire;
    color: @base;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @surface2;
}

#mpd.paused {
    background-color: @green;
}

#language {
    background: @tertiary;
    color: @on_tertiary;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @secondary;
    color: @on_secondary;
    padding: 0;
    margin: 5px 1px 6px;
    border-radius: 15px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: alpha(@on_secondary, 0.2);
}

#scratchpad {
    background: alpha(@surface0, 0.8);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @text;
}

/* #privacy-item.screenshare { */
/*     background-color: #cf5700; */
/* } */
/**/
/* #privacy-item.audio-in { */
/*     background-color: #1ca000; */
/* } */
/**/
/* #privacy-item.audio-out { */
/*     background-color: #0069d4; */
/* } */

#custom-exit {
    background-color: @overlay0;
    margin: 5px 1px 6px;
    border-radius: 15px;
    padding: 0 8px;
    color: @text;
}

#custom-appmenu {
    background-color: @blue;
    margin: 5px 1px 6px;
    border-radius: 15px;
    padding: 0 10px;
    color: @base;
    font-size: 15px;
}
